services:
	- Symnedi\SymfonyBundlesExtension\Compiler\FakeReferencesPass
	- Symnedi\SymfonyBundlesExtension\Transformer\ArgumentsTransformer
	- Symnedi\SymfonyBundlesExtension\Transformer\ContainerBuilderTransformer
	- Symnedi\SymfonyBundlesExtension\Transformer\ServiceDefinitionTransformer
	- Symnedi\SymfonyBundlesExtension\Transformer\ParametersTransformer
	-
		class: Symfony\Component\DependencyInjection\ContainerBuilder
		setup:
			- addCompilerPass(@Symnedi\SymfonyBundlesExtension\Compiler\FakeReferencesPass)
