services:
	- Symplify\NetteAdapaterForSymfonyBundles\Compiler\FakeReferencesPass
	- Symplify\NetteAdapaterForSymfonyBundles\Transformer\ArgumentsTransformer
	- Symplify\NetteAdapaterForSymfonyBundles\Transformer\ContainerBuilderTransformer
	- Symplify\NetteAdapaterForSymfonyBundles\Transformer\ServiceDefinitionTransformer
	- Symplify\NetteAdapaterForSymfonyBundles\Transformer\ParametersTransformer
	-
		class: Symfony\Component\DependencyInjection\ContainerBuilder
		setup:
			- addCompilerPass(@Symplify\NetteAdapaterForSymfonyBundles\Compiler\FakeReferencesPass)
