services:
	- Symplify\SymfonyBundlesExtension\Compiler\FakeReferencesPass
	- Symplify\SymfonyBundlesExtension\Transformer\ArgumentsTransformer
	- Symplify\SymfonyBundlesExtension\Transformer\ContainerBuilderTransformer
	- Symplify\SymfonyBundlesExtension\Transformer\ServiceDefinitionTransformer
	- Symplify\SymfonyBundlesExtension\Transformer\ParametersTransformer
	-
		class: Symfony\Component\DependencyInjection\ContainerBuilder
		setup:
			- addCompilerPass(@Symplify\SymfonyBundlesExtension\Compiler\FakeReferencesPass)
