application:
	scanDirs: false
	scanComposer: false

services:
	- Symnedi\SymfonyBundlesExtension\Tests\ContainerSource\ParameterStorage(1, [2, 3])
	- Symnedi\SymfonyBundlesExtension\Tests\ContainerSource\EntityManager
	- Symnedi\SymfonyBundlesExtension\Tests\ContainerSource\AutowiredService
	- Symnedi\SymfonyBundlesExtension\Tests\ContainerSource\SomeService

extensions:
	symfonyBundles: Symnedi\SymfonyBundlesExtension\DI\SymfonyBundlesExtension

symfonyBundles:
	bundles:
		- Doctrine\Bundle\FixturesBundle\DoctrineFixturesBundle
		- League\Tactician\Bundle\TacticianBundle
		alice: Hautelook\AliceBundle\HautelookAliceBundle

	parameters:
		alice:
			locale: cs_CZ
