application:
	scanDirs: false
	scanComposer: false

extensions:
	symfonyBundles: Symplify\SymfonyBundlesExtension\DI\SymfonyBundlesExtension

services:
	- Symplify\SymfonyBundlesExtension\Tests\Container\ParametersSource\CustomMiddleware

symfonyBundles:
	bundles:
		tactician: League\Tactician\Bundle\TacticianBundle

	parameters:
		tactician:
			commandbus:
				default:
					middleware:
						- @Symplify\SymfonyBundlesExtension\Tests\Container\ParametersSource\CustomMiddleware
						- tactician.middleware.locking
						- tactician.middleware.command_handler
