application:
	scanDirs: false
	scanComposer: false

extensions:
	symfonyBundles: Symplify\NetteAdapaterForSymfonyBundles\DI\NetteAdapaterForSymfonyBundlesExtension

services:
	-
		class: Symplify\NetteAdapaterForSymfonyBundles\Tests\TacticianBundle\NetteTagsSource\SomeCommandHandler
		tags:
			tactician.handler:
				- [command: Symplify\NetteAdapaterForSymfonyBundles\Tests\TacticianBundle\NetteTagsSource\SomeCommand]

symfonyBundles:
	bundles:
		- League\Tactician\Bundle\TacticianBundle
