application:
	scanDirs: false
	scanComposer: false

extensions:
	symfonyBundles: Symnedi\SymfonyBundlesExtension\DI\SymfonyBundlesExtension

services:
	-
		class: Symnedi\SymfonyBundlesExtension\Tests\TacticianBundle\NetteTagsSource\SomeCommandHandler
		tags:
			tactician.handler:
				- [command: Symnedi\SymfonyBundlesExtension\Tests\TacticianBundle\NetteTagsSource\SomeCommand]

symfonyBundles:
	bundles:
		- League\Tactician\Bundle\TacticianBundle
